<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div [ngClass]="{'body': description==='',
                'sky': description.toUpperCase().includes('SKY'),
                'few-clouds': description.toUpperCase().includes('CLOUDS'),
                'scattered-clouds': description.toUpperCase().includes('SCATTERED-CLOUDS'),
                'broken-clouds ': description.toUpperCase().includes('BROKEN-CLOUDS'),
                'shower-rain': description.toUpperCase().includes('SHOWER-RAIN'),
                'rain': description.toUpperCase().includes('RAIN'),
                'thunderstorm': description.toUpperCase().includes('THUNDERSTORM'),
                'snow': description.toUpperCase().includes('SNOW'),
                'mist': description.toUpperCase().includes('MIST'),
                'haze': description.toUpperCase().includes('HAZE')
                }"
                >
    <h1>Check Weather Before Travelling To A Beautiful Place</h1>
    <form (ngSubmit)='checkCity()'>
        <input type="text" [(ngModel)] = 'city' [ngModelOptions]="{standalone: true}" class="input" placeholder="Enter the Destination">
    </form>
    <p class="cityName">City Name: {{city | uppercase}}</p>
    <div class="div1">
            <div>
                <span class = "box">
                    <p class='boxes'><i class="fa fa-temperature-high"></i>Feels Like:<br><p style="text-align: center;"></p>{{feelsLike}}</p>
                    <p class='boxes'><i class="fa fa-tint"></i>Humidity:<br><p style="text-align: center;">{{humidity}}</p></p>
                    <p class='boxes'><i class="fa fa-wind"></i>Wind:<br><p style="text-align: center;">{{wind}}</p></p>
                    <p class='boxes'><i class="fa fa-sun"></i>Sunrise:<br><p style="text-align: center;">{{sunrise}}</p></p>
                    <p class='boxes'><i class="fa fa-moon"></i>Sunset:<br><p style="text-align: center;">{{sunset}}</p></p>
                    <p class='boxes'><i class="fa fa-fan"></i>Barometer:<br><p style="text-align: center;">{{barometer}}</p></p>
                </span>
                <span>
                    <img src="" alt="">
                    <p style="font-size: 1.2rem; text-align: center; margin-top: 2.1rem;">Description: {{description | uppercase}}</p>
                </span>
            </div>
    </div>
</div>


